<div class= "row-fluid">
  <div class= "span12">
    <a name='post-<%= post.id %>'></a>
    <div id='post_<%= post_counter + 1 %>' class='post <%= cycle('odd', 'even') -%>'>
      <div class= "row-fluid">
        <div class= "span1">
          <div class='user'>
            <div >
              <%= forem_avatar(post, :size => 60) %>
            </div>
          </div>
        </div>
        <div class= "span11 comment-bubble-inner">
          <div class='contents'>
            <% if post.pending_review? %>
              <div class='moderation'>
                <%= t(".pending_review") %>
                <% if forem_admin_or_moderator?(post.topic.forum) %>
                  <% if local_assigns[:mass_moderation] %>
                    <%= render "forem/posts/moderation_tools", :post => post %>
                  <% else %>
                    <%= form_tag forem.forum_moderate_posts_path(post.topic.forum), :method => :put do %>
                      <%= render "forem/posts/moderation_tools", :post => post %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>

            <div class= 'comment-header'>
              <div class='row-fluid'>
                <div class='span8'>
                  <div class='username'>
                    <%= link_to post.user, main_app.public_profile_path(post.user.profile) %>
                    Commented
                    <span href='#post-<%= post.id %>'>
                      <time datetime="<%= post.created_at.to_s(:db) -%>"><%= "#{time_ago_in_words(post.created_at)} #{t("ago")}" %></time>
                    </span>
                  </div>
                </div>
                <div class= "span2">
                  <span class = "forem_votes pull-right">
                    <% if forem_user %>
                      <%= link_to image_tag('thumbs_up.png'), vote_topic_post_path(post.topic_id, post, type: "up"), method: "post" %>
                      <strong class='green'><%= post.reputation_for(:votes, :positive).to_i %></strong>
                      <%= link_to image_tag('thumbs_down.png'), vote_topic_post_path(post.topic_id, post, type: "down"), method: "post" %>
                      <strong class='red'><%= post.reputation_for(:votes, :negative).to_i.abs %></strong>
                    <% else %>
                      <%= link_to image_tag('thumbs_up.png'), login_and_go_to(forem.forum_topic_path(post.topic.forum, post.topic)) %>
                      <strong class='green'><%= post.reputation_for(:votes, :positive).to_i %></strong>
                      <%= link_to image_tag('thumbs_down.png'), login_and_go_to(forem.forum_topic_path(post.topic.forum, post.topic)) %>
                      <strong class='red'><%= post.reputation_for(:votes, :negative).to_i.abs %></strong>
                    <% end %>
                  </span>
                </div>
                <div class= "span2">
                  <div class= "align-center">
                    <% if forem_user %>
                      <% unless forem_user.voted_for_spam?(post) %>
                          <%= link_to(spam_topic_post_path(post.topic_id, post), method: "post", :title => t('.spam')) do %>
                            <i class='icon-ban-circle'></i>
                          <% end %>
                        <% end %>
                      <% if post.owner_or_admin?(forem_user) %>
                        <% if can?(:edit_post, post.topic.forum) %>
                          <%= link_to(forem.edit_topic_post_path(post.topic, post), :title => t('edit', :scope => 'forem.post')) do %>
                            <i class='icon-edit'></i>
                          <% end %>
                        <% end %>
                        <%= link_to(forem.topic_post_path(post.topic, post), :method => :delete, :confirm => t("are_you_sure"), :title => t('delete', :scope => 'forem.topic'))  do %>
                            <i class='icon-trash'></i>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div><%= forem_format(post.text) %>
            <% if post.reply_to %>
              <span class='in_reply_to'>
                <%= link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user}", "#post-#{post.reply_to.id}" %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
