
    <div id='forum'>
      <h3><%= link_to t('forem.forum.forums'), forem.root_path %> &raquo; <%= link_to forum.title, [forem, forum] %></h3>
      <small><%= forum.description %></small>
      <menu id='forum_topic_links'>
          <% if forem_user %>
            <%= link_to t('forem.topic.links.new'), main_app.new_iqanda_path(:topic => {:category_name => forum.title}), :class => 'btn btn-success btn-small' %>
          <% end %>
        <% if @topic %>
          <%= link_to t('forem.topic.links.back_to_topics'), forem.forum_path(forum) %>
        <% end %>
      </menu>
    </div>

