<table id='forums' class='forums table'>
  <thead>
  <tr>
    <th class="desc-and-last-post"><%= t('forum', :scope => 'forem.general') %></th>
    <th class="topics-count align-center"><%= t('topics', :scope => 'forem.general') %></th>
    <th class="posts-count align-center"><%= t('posts', :scope => 'forem.general') %></th>
    <th class="views-count align-center"><%= t('forem.forums.index.views') %></th>
  </tr>
  </thead>
  <tbody>
    <%= render category.forums %>
  </tbody>
</table>
